# C++ build files
build/
build-*/
*.cmake
.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.dll

# Environment
.env
data/


# Watched files
watched_files/

# Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# MacOS files
.DS_Store
doing
magicrc.json